html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 100%;
  font-family: "Manrope", sans-serif;
  color: #121212;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
p,
a,
li {
  letter-spacing: -0.03em;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
}

.container {
  max-width: 1180px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  padding-top: 35px;
  margin-left: 30px;
}

.header .container:first-child {
  padding: 0;
}

.header__container {
  display: flex;
  margin-bottom: 70px;
  height: 26px;
}

.header-logo {
  width: 127px;
  height: 22px;
  display: block;
}

.header-logo__link {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.header-logo__img {
  display: block;
  width: 127px;
  height: 21.5px;
}

.header-nav {
  margin-left: 557px;
  width: 100%;
}

.header-menu__list {
  display: flex;
}

.header-menu__item {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
  padding-right: 61px;
  text-align: center;
}

.header-menu__item:last-child {
  padding-right: 0;
}

.header-menu__link {
  display: inline-block;
  position: relative;
  color: #121212;
  line-height: 25px;
  text-decoration: none;
}

.header-menu__link:hover {
  opacity: 0.5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.interior__block {
  position: relative;
  height: 500px;
  margin-top: 30px;
  background-image: url("../resources/interior.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.interior__text {
  position: absolute;
  width: 430px;
  bottom: 38px;
  left: 39px;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  color: #FFFFFF;
}

.interior__title {
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  width: 956px;
}

.about {
  margin-bottom: 148px;
}

.about__title {
  margin-top: 150px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.59px;
  text-align: left;
}

.about__info {
  width: 1048px;
  margin-top: 30px;
  font-size: 45px;
  font-weight: 400;
  line-height: 61px;
  padding-left: 3px;
}

.about__btn {
  display: inline-block;
  margin-top: 30px;
  padding: 20px 41px;
  border-radius: 5px;
  background-color: #AD1818;
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  line-height: 27.32px;
}

.projects {
  margin: 0 auto;
}

.projects__title {
  margin-bottom: 31px;
}

.projects__div {
  width: 1150px;
  height: 2122px;
}

.projects-list {
  margin-bottom: 90px;
  width: 1150px;
  height: 548px;
}

.project__img {
  width: 1150px;
  height: 450px;
  margin-bottom: 13px;
}

.projects-list__title {
  margin-bottom: 14px;
  font-size: 30px;
  line-height: 40.98px;
}

.project-list__link {

  font-weight: 400;
  font-size: 20px;
  line-height: 27.32px;
  text-decoration: none;
  color: #AD1818;
}

.projects__btn {
  display: inline-block;
  width: 1150px;
  height: 153px;
  padding-top: 56px;
  border-radius: 5px;
  font-size: 30px;
  line-height: 40.98px;
  text-align: center;
  border: 1px solid #AD1818;
  text-decoration: none;
  color: #AD1818;
}

.projects__btn:hover {
  background-color: #AD1818;
  color: #FFFFFF;
}

.services {
  width: 1400px;
  height: 1844px;
  margin: 0 auto;
  margin-top: 150px;

  background-color: #121212;
}

.services__title {
  padding-top: 150px;
  padding-bottom: 34px;
  color: #FFFFFF;
}

.services-list {
  margin-bottom: 60px;
}

.services__img {
  padding-left: 1px;
  margin-bottom: 13px;
}

.services-list__title {
  padding-left: 5px;
  font-weight: 400;
  font-size: 30px;
  line-height: 40.98px;
  color: #FFFFFF;
}

.services-list:nth-last-child(1) {
  margin-bottom: 0;
}

.examples {
  margin: 0 auto;
  margin-bottom: 186px;
  width: 1400px;
  background-image: url(/resources/examples.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.examples__block {
  height: 717px;
  position: relative;
}

.examples__text {
  width: 443px;
  position: absolute;
  bottom: 60px;
  font-weight: 400;
  font-size: 30px;
  line-height: 40.98px;
  color: #FFFFFF;
}

.contacts {
  margin-bottom: 159px;
}

.contacts__block {
  width: 473px;
  margin-bottom: 30px;
  position: relative;
}

.contacts__block:before {
  content: '';
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: 35px;
  right: 453px;
  background-image: url(/resources/contacts__phone.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.contacts__title {
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.59px;
  color: #121212;
}

.contacts__item {
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 30px;
}

.contacts__phone-btn {
  text-decoration: none;
  color: #121212;
}

.contacts__mail-btn {
  text-decoration: none;
  color: #121212;
  opacity: 0.5;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.footer {
  margin: 0 auto;
  padding-top: 60px;
  width: 1400px;
  height: 229px;
  background-color: #121212;
}

.footer-nav {
  text-align: center;
}

.footer-menu__list {
  margin-bottom: 87px;
  padding-left: 37px;
}

.footer-menu__item {
  display: inline-block;
  padding-right: 52px;
}

.footer-menu__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.59px;
  color: #FFFFFF;
}

.footer-menu__link:hover {
  opacity: 0.5;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.footer__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 27.32px;
  color: gray;
  padding-left: 6px;
}